/** @format */

.laravel-env-ribbon {
    background-color: var(--ribbon-color, #e3342f);
    overflow: hidden;
    white-space: nowrap;
    /* top left corner */
    position: absolute;
    left: -5em;
    top: 3em;
    width: 20em;
    z-index: 1000;
    /* for 45 deg rotation */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* for creating shadow */
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}
.laravel-env-ribbon a {
    border: 1px solid lighten(var(--ribbon-color, #e3342f), 50%);
    color: #fff;
    display: block;
    font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    /* for creating shadow */
    text-shadow: 0 0 5px #444;
    text-transform: uppercase;
}
